@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: #020307;
    --special-green: #01D5A2;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    color: #ffffff;
}
