@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: #020307;
    --my-green: #01D5A2;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--my-green); /* Match your theme color */
    border-radius: 100%;
}


::-webkit-scrollbar-track {
    background-color: var(--bg-color); /* Background of the scrollbar track */
}

